<div class="ui segment">
  <a href="/login/facebook" class="ui fluid large facebook button" style="margin-bottom: 10px;">
    <i class="facebook icon"></i>
    Continue with Facebook
  </a>
  <a class="ui fluid large google plus button" id="google-plus-button" style="margin-bottom: 10px;">
    <i class="google plus icon"></i>
    Continue with Google+
  </a>
  <a href="/login/twitter" class="ui fluid large twitter button" style="margin-bottom: 10px;">
    <i class="twitter icon"></i>
    Continue with Twitter
  </a>
  <a href="/login/google-oauth2" class="ui fluid large google button">
    <i class="google icon"></i>
    Continue with Google
  </a>
</div>