{% extends "base.html" %}

{% block content %}
<div class="ui grid stackable container centered">
  <div class="six wide column">

  {% if form.errors %}
    <div class="ui error message">
      Your username and password didn't match. Please try again.
    </div>
  {% endif %}

  {% if next %}
      {% if user.is_authenticated() %}
      <div class="ui error message">
        Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
      </div>
      {% else %}
      <div class="ui error message">
        Please login to see this page.
      </div>
      {% endif %}
  {% endif %}

  <form class="ui form" method="post" action="{{ url('login') }}">
  {% csrf_token %}

    <div class="ui segment left aligned">
      <h2 class="ui dividing header">Login</h2>

      <div class="field">
          {{ form.username.label_tag() }}
          {{ form.username }}
      </div>
      <div class="field">
        {{ form.password.label_tag() }}
        {{ form.password }}
      </div>
      <div class="field">
        <button class="ui fluid primary large button" type="submit">Login</button>
      </div>
    </div>

    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {% include 'users/_social_signup.html' %}

  <div class="ui info message">
    New user? You can create an account <a href="{{ url('signup') }}">here</a>.
  </div>

  </div>

</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://apis.google.com/js/api:client.js"></script>

<script type="text/javascript">
  gapi.load('auth2', function () {
    var auth2;

    auth2 = gapi.auth2.init({
      client_id: "903895384289-jpcvb2dml08u1tsis60t7jc84uh9esee",
      scope: "profile email"
    });

    auth2.then(function () {
      var button = document.getElementById("google-plus-button");
      console.log("User is signed-in in Google+ platform?", auth2.isSignedIn.get() ? "Yes" : "No");

      auth2.attachClickHandler(button, {}, function (googleUser) {
        // Send access-token to backend to finish the authenticate
        // with your application

        var authResponse = googleUser.getAuthResponse();
        var $form;
        var $input;

        $form = $("<form>");
        $form.attr("action", "/complete/google-plus/");
        $form.attr("method", "post");
        $input = $("<input>");
        $input.attr("name", "access_token");
        $input.attr("value", authResponse.access_token);
        $form.append($input);
        $(document.body).append($form);

        $form.submit();
      }, function (googleUser) {
        alert("Authentication failed");
      });
    });
  });
</script>
{% endblock %}