{% extends 'base.html' %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ static('lib/semantic-ui-calendar/dist/calendar.min.css') }}">

<style type="text/css">
  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 3em;
    font-weight: normal;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
</style>
{% endblock %}

{% block content %}
<div class="ui inverted vertical masthead center aligned segment midnight-bg">
  <div class="ui text container">
    <h1 class="ui inverted header">
      Bahav
    </h1><br>

    {% include 'profiles/_profile_search_form.html' %}
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ static('lib/semantic-ui-calendar/dist/calendar.min.js') }}"></script>
<script type="text/javascript">
  $('#departure-date').calendar({
    type: 'date',
    formatter: {
      date: function (date, settings) {
        if (!date) return '';
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        return month + '/' + day + '/' + year;
      }
    }
  });
</script>
{% endblock %}