body {
  background-color: #eceff1;
}

.ninja-blue-bg {
  background-color: #544FB5 !important;
}

.profile-search-button {
  background-color: #ffffff !important;
}

.profile-search-button:hover {
  background-color: #dcdcdc !important;
}

.ui.primary.button {
  background-color: #544FB5;
}

.ui.primary.button:hover {
  background-color: #4844a2;
}

.upper-margin {
  margin-top: 4em !important;
}

.field-error {
  font-size: 10px;
  color: #b71c1c;
}

.navbar > .ui.menu > .ui.selection.dropdown {
  border: 0px;
  border-radius: 0px;
  min-width: 17em;
}

.navbar > .ui.menu > .ui.selection.dropdown .menu {
  max-height: 20rem;
}
  
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}