{% extends 'base.html' %}

{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ static('lib/semantic-ui-calendar/dist/calendar.min.css') }}">
{% endblock %}

{% block content %}
<div class="ui segment ninja-blue-bg" style="padding-top: 40px; margin-top: 0; border-radius: 0; margin-bottom: 0;">
  <div class="ui container stackable grid">
    <div class="ui four wide column">
      <h2 class="ui inverted header">Find<br>Journeys</h2>  
    </div>
    <div class="ui twelve wide column">
    {% include 'profiles/_profile_search_form.html' %}
    </div>
  </div>
</div>

<div class="ui segment" style="min-height: 300px; margin-top: 0; padding-top: 40px; padding-bottom: 40px;">
  <div class="ui container">
    <div class="ui special cards">
    {% for profile in profile_list %}
      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <button class="ui inverted button send-request-button">Send Request</button>
              </div>
            </div>
          </div>
          <img src="{{ static('base/images/taj-mahal.jpg') }}">
        </div>
        <div class="content">
          <a class="header"></a>
          <div class="meta">
            <span>Journey Creator: {{ profile.creator.get_full_name()|title }}</span>
            <div>
              <i class="{{ profile.src_country.code|lower }} flag country-flag"
                data-content="{{ profile.src_country.name }}" data-variation="small"></i>
              <i class="icon exchange"></i>
              <i class="{{ profile.dest_country.code|lower }} flag country-flag"
                data-content="{{ profile.dest_country.name }}" data-variation="small"></i>
            </div><br>
            <div>
              Departure date range:<br>{{ profile.get_range()|join(' - ') }}
            </div>
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="users icon"></i>
            {% set members = profile.room.members.all() %}
            {{ members|length }} Traveller{{ 's' if members|length > 1 else '' }}
          </a>
        </div>
      </div>
    {% endfor %}
    </div>
    {% if not profile_list %}
    <div>
      <br>
      <h3 class="ui grey header centered">
        Sorry no Journeys were found.<br>
        You can create your own <a href="{{ url('profiles:create') }}">Journey</a> :)
      </h3>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="{{ static('lib/semantic-ui-calendar/dist/calendar.min.js') }}"></script>
<script type="text/javascript" src="{{ static('profiles/js/search-form.js') }}"></script>
<script type="text/javascript">
  $(".special.cards .image").dimmer({
    on: 'hover'
  });
  $(".country-flag").popup();
  $(".send-request-button").on("click", function() {
    console.log('shit');
    msg = '<h4 class="ui inverted header">Membership request has been sent</h4>';
    $(this).parent().hide().html(msg).fadeIn();
  });
</script>
{% endblock %}